@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: Roboto, sans-serif;
    margin:0;
   /* flex-direction: column;*/

}

.header{
    background-color: #1F2937;
    padding: 16px 450px 50px;
    
    
   
}
.top-box{
    display: flex;
    justify-content: space-between;
    /*padding: 10px 150px 0px;*/
}


.big-name{
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8 ;
    /*border: 1px solid yellow;*/
    padding: 0;
    margin: 0;
    
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.right-links{
    font-size: 18px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    /*border: 1px solid greenyellow;*/
    padding: 0;
    margin: 0;
}

.hero-box{
    display: flex;
    justify-content: space-between;
   /* border: 1px solid plum;*/
    margin-top: 75px;
    
    
    
}
.title{
    width: 450px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
   /* border: 1px solid red;*/
    padding: 0;
    flex-shrink: 1;
    
    
}

.subtext{
    font-size: 18px;
    color: #e5e7eb;
    /*border: 1px solid orange;*/
    padding: 0px 10px 10px 0px;
    flex-shrink: 1;
    
    
   
    
}

button{
    width: 90px;
    height: 35px;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

img{
    width: 450px;
    height: 250px;
}

