@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: Roboto, sans-serif;
    margin:0;
   /* flex-direction: column;*/

}

/*Section 1*/

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    /*padding: 16px 450px 50px;*/
    /*border: 1px solid turquoise;*/
    
    
}

.big-name{
    width: 450px;
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8 ;
    /*border: 1px solid yellow;*/
    /*padding:0px 0px 24px 48px;*/
    margin: 0px 0px 24px 48px;
    
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.right-links{
    font-size: 18px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    /*border: 1px solid greenyellow;*/
   padding: 0px;
    margin: 0;

}

.placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid grey;
    background-color: grey;
    width: 500px;
    height: 245px;
    margin: 80px 0px 0px 0px;
}
.img-box{
    /*border: 1px solid lightcoral;*/
    padding-left: 48px;
    margin: 0px 48px 24px 0px;
    flex-shrink: 1;
}

.title{
   /* width: 450px;*/
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    /*border: 1px solid red;*/
    padding-top: 80px;
    flex-shrink: 1;
}

.subtext{
    font-size: 18px;
    color: #e5e7eb;
    /*border: 1px solid orange;*/
    padding: 0px 10px 10px 0px;
    flex-shrink: 1;    
}

button{
    width: 90px;
    height: 35px;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

/*Section 2*/

.box2{
    text-align: center;
   /* border: 1px solid brown;*/
    
}

.pics{
    width:150px ;
    height: 150px;
}

.pic-container{
    display: flex;
    justify-content: center;
   /* border: 1px solid blue;*/
    gap: 20px;
    margin-top: 25px;
    padding-bottom: 70px;
}
 
.info{
    max-width:250px;
}

.header2{
    margin: 40px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

/*Section 3*/

.box3{
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    
}

.quote{
    display: flex;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    width: 700px;
    height: 400px;
}


/*Section 4*/

.box4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.rectangle{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #3882f6;
    width: 800px;
    height: 100px;
}
.call{
    /*display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #3882f6;*/
    font-size: 18px;
    font-weight: 900;
    color: white;
    border: 1px solid orange;
    width: 200px;
}

.small-call{
    font-size: 12px;
    border:1px solid yellow;
    width: 300px;
    
}

.button2{
    display: flex;
    align-self: flex-end;
    border: 2px solid white;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    
}
